@model IEnumerable<PIXIE_PHOTOS.Models.Photos>

@{
    ViewData["Title"] = "Index";
}

<h1>Pixie Album</h1>

<p>
    <a asp-action="Create">Add new photo</a>
</p>

@if (Model.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album_Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.picture != null)
                {
                    var base64 = Convert.ToBase64String(item.picture);
                    var img = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@img" width="100px" height="100px" />
                }
                 else 
                 {
                    <img src="~/image/null.png" width="100px" height="100px" />
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album_Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.photoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.photoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.photoId">Delete</a>
            </td>

        </tr>
             
         }
     </tbody>
  </table>

}
else
{
    <h4> "No image"</h4>
}


